<?xml version="1.0"?>

<!--
Fri Nov 11 14:26:18 EET 2016, Nikos Koukis

Setup an individual agent that is to run multi-robot graphSLAM 

Users typically don't need to run this directly and are advised to use the
csl_robots_gazebo/run_graphslam_demo.sh shell script which executes this
launchfile as many times as the number of robots used for the demo

-->


<launch>
    <arg name="new_robot_ns"/>

    <arg name="verbosity" default="1" />
    <arg name="output" default="screen" />
    <arg name="disable_MRPT_visuals" default="false" />

	<arg name="anchor_frame_ID" value="$(arg new_robot_ns)/anchor" />
	<arg name="base_link_frame_ID" value="$(arg new_robot_ns)/base_link"/>
	<arg name="laser_frame_ID" value="$(arg new_robot_ns)/laser"/>
	<arg name="odometry_frame_ID" value="$(arg new_robot_ns)/odometry"/>

    <arg name = "config_file" default="$(find mrpt_graphslam_2d)/config/ros_odometry_2DRangeScans_LC_MR_real.ini"  />

    <arg name="NRD" default="CFixedIntervalsNRD_MR" />
    <arg name="ERD" default="CLoopCloserERD_MR" />
	<arg name="GSO" default="CLevMarqGSO" />

	<arg name="is_mr_slam" value="true" />

	<!-- Run single-robot graphSLAM -->
	<include file="$(find mrpt_graphslam_2d)/launch/sr_graphslam_demo.launch">
	    <arg name="robot_ns" value="$(arg new_robot_ns)"/>
	    <arg name="play_own_rosbag" value="false"/>
		<arg name="output" value="$(arg output)" />
        <arg name="disable_MRPT_visuals" value="$(arg disable_MRPT_visuals)" />
  		<arg name="verbosity" value="$(arg verbosity)" />
		<arg name="start_rviz" value="false" />
        <arg name="config_file" value="$(arg config_file)"  />
		<arg name="anchor_frame_ID" value="$(arg anchor_frame_ID)" />
		<arg name="base_link_frame_ID" value="$(arg base_link_frame_ID)" />
        <arg name="NRD" value="$(arg NRD)" />
        <arg name="ERD" value="$(arg ERD)" />
		<arg name="GSO" value="$(arg GSO)" />
		<arg name="is_mr_slam" value="$(arg is_mr_slam)" />
	</include>

    <!-- Run multimaster -->
  	<include file="$(find csl_common)/launch/setup_multimaster.launch" />

</launch>
