<?xml version="1.0"?>

<!--
Fri Nov 11 14:26:18 EET 2016, Nikos Koukis

Launchfile for setting up a single graphSLAM instance and providing it with
measurements from a rosbag in a multi-robot demo.

Users typically don't need to run this directly and are advised to use the
csl_robots_gazebo/run_mr_graphslam_demo script which executes this launchfile as
many times as the number of robots used for the demo

-->


<launch>
    <!-- The following MUST be provided by the python wrapper script. -->
    <arg name="old_robot_ns" default="/"/>
    <arg name="new_robot_ns" default="/"/>

    <!-- namespaces match the hostname of the agents -->
    <arg name="verbosity" default="1" />
    <arg name="output" default="screen" />
    <arg name="disable_MRPT_visuals" default="false" />
    <arg name="hostname" value="$(env MR_HOSTNAME)"/>

    <arg name="suffix" value="$(env MR_FILE_SUFFIX)"/>
    <arg name="bag_dir" value="$(find mrpt_graphslam_2d)/rosbags/20170607_multi_robot_graphSLAM_$(arg suffix)" />

    <arg name="bag_file_full" value="$(arg bag_dir)/$(arg old_robot_ns).bag"/>
    <!-- remap the rosbag topics - The whole namespace -->
	<arg name="bag_topic_remaps" default="
	    /$(arg old_robot_ns)/input/cmd_vel:=/$(arg new_robot_ns)/input/cmd_vel
	    /$(arg old_robot_ns)/input/laser_scan:=/$(arg new_robot_ns)/input/laser_scan
	    /$(arg old_robot_ns)/input/odom:=/$(arg new_robot_ns)/input/odom
	    /$(arg old_robot_ns)/onboard_camera/image_raw:=/$(arg new_robot_ns)/onboard_camera/image_raw
	    /$(arg old_robot_ns)/onboard_camera/image_raw/compressed:=/$(arg new_robot_ns)/onboard_camera/image_raw/compressed
	    /$(arg old_robot_ns)/onboard_camera/image_raw/compressed/parameter_descriptions:=/$(arg new_robot_ns)/onboard_camera/image_raw/compressed/parameter_descriptions
	    /$(arg old_robot_ns)/onboard_camera/image_raw/compressed/parameter_updates:=/$(arg new_robot_ns)/onboard_camera/image_raw/compressed/parameter_updates
	    /$(arg old_robot_ns)/onboard_camera/image_raw/theora:=/$(arg new_robot_ns)/onboard_camera/image_raw/theora
	    /$(arg old_robot_ns)/onboard_camera/image_raw/theora/parameter_descriptions:=/$(arg new_robot_ns)/onboard_camera/image_raw/theora/parameter_descriptions
	    /$(arg old_robot_ns)/onboard_camera/image_raw/theora/parameter_updates:=/$(arg new_robot_ns)/onboard_camera/image_raw/theora/parameter_updates
	    "/>

    <!-- Should we also start an instance of rviz ? -->
    <arg name="start_rviz" default="true" />
    <arg name="rviz_file" value="$(find mrpt_graphslam_2d)/rviz/graphslam_bag_$(env MR_NUM_OF_ROBOTS).rviz" />

	<arg name="anchor_frame_ID" value="$(arg new_robot_ns)/anchor" />
	<arg name="base_link_frame_ID" value="$(arg new_robot_ns)/base_link"/>
	<arg name="laser_frame_ID" value="$(arg new_robot_ns)/laser"/>
	<arg name="odometry_frame_ID" value="$(arg new_robot_ns)/odometry"/>

    <arg name = "config_file" default="$(find mrpt_graphslam_2d)/config/ros_odometry_2DRangeScans_LC_MR_real.ini"  />

    <arg name="NRD" default="CFixedIntervalsNRD_MR" />
    <arg name="ERD" default="CLoopCloserERD_MR" />
	<arg name="GSO" default="CLevMarqGSO" />

	<!-- Run single-robot graphSLAM -->
	<include file="$(find mrpt_graphslam_2d)/launch/sr_graphslam_demo.launch">
	    <arg name="robot_ns" value="$(arg new_robot_ns)"/>
	    <arg name="bag_file_full" value="$(arg bag_file_full)"/>
	    <arg name="bag_topic_remaps" value="$(arg bag_topic_remaps)"/>
		<arg name="output" value="$(arg output)" />
        <arg name="disable_MRPT_visuals" value="$(arg disable_MRPT_visuals)" />
  		<arg name="verbosity" value="$(arg verbosity)" />
		<arg name="start_rviz" value="$(arg start_rviz)" />
		<arg name="rviz_file" value="$(arg rviz_file)" />
        <arg name="config_file" value="$(arg config_file)"  />
		<arg name="anchor_frame_ID" value="$(arg anchor_frame_ID)" />
		<arg name="base_link_frame_ID" value="$(arg base_link_frame_ID)" />
        <arg name="NRD" value="$(arg NRD)" />
        <arg name="ERD" value="$(arg ERD)" />
		<arg name="GSO" value="$(arg GSO)" />
	</include>

    <!-- Run multimaster -->
  	<include file="$(find csl_common)/launch/setup_multimaster.launch" />


</launch>
