<?xml version="1.0"?>

<!--
Mon Oct 10 19:20:36 EEST 2016, Nikos Koukis

Launchfile demonstrating the mrpt_graphslam_2d application. Ground-Truth path
is also shown to compare with the algorithm trajectory estimation. Practically
this constitutes a wrapper around the sr_graphslam_demo.launch file

NOTES:
- Do not define arguments not present in the sr_graphslam_demo due to the
corresponding bug: https://github.com/ros/ros_comm/issues/889

WARNING:
Make sure that you have downloaded the corresponding dataset from here:
https://www.dropbox.com/sh/habf5mnc5404i66/AACvbzmAQ6UrYB4ix-6aVIc9a?dl=0.
See the README.md file for more information on this
-->

<launch>

  <arg name="robot_ns" value="youbot_15" />
  <arg name="output" default="screen" />
  <arg name="disable_MRPT_visuals" default="false" />

  <arg name="bag_dir" default="$(find mrpt_graphslam_2d)/rosbags/sr_graphslam_demo" />
  <arg name="bag_file" default="records_with_gt.bag"/>
  <arg name="bag_file_full" default="$(arg bag_dir)/$(arg bag_file)"/>

  <!-- Should we also start an instance of rviz ? -->
  <arg name="start_rviz" default="true" />
  <arg name="rviz_file" value="$(find mrpt_graphslam_2d)/rviz/sr_graphslam_demo_gt.rviz" />

	<arg name="anchor_frame_ID" value="mf1_anchor" />

  <!--<arg name = "config_file" value = "$(find mrpt_graphslam_2d)/config/ros_odometry_2DRangeScans.ini"  />-->
  <!--<arg name = "config_file" value = "$(find mrpt_graphslam_2d)/config/ros_odometry_2DRangeScans_LC_MR_real.ini"  />-->
  <!--<arg name = "config_file" value = "$(find mrpt_graphslam_2d)/config/ros_laser_odometry_LC_MR_real.ini"  />-->
  <arg name = "config_file" value = "$(find mrpt_graphslam_2d)/config/ros_laser_odometry.ini"  />

  <!--<arg name="NRD" value="CFixedIntervalsNRD" />-->
  <arg name="NRD" value="CICPCriteriaNRD" />
  <arg name="ERD" value="CICPCriteriaERD" />
  <!--<arg name="ERD" value="CLoopCloserERD" />-->
  <arg name="GSO" value="CLevMarqGSO" />

  <!-- Run single-robot graphSLAM -->
  <include file="$(find mrpt_graphslam_2d)/launch/sr_graphslam_demo.launch" pass_all_args="true">
  </include>


</launch>
