<launch>
     <!--Example of online SLAM with turtlebot simulator -->
     <!-- NEED TO BE INSTALLED: http://wiki.ros.org/turtlebot_simulator-->

   <!--PARAMETERS-->   
  <param name="ini_filename" value="$(find mrpt_rbpf_slam)/tutorial/grid_slam_demo.ini"/>
  <param name="odom_frame_id" value="/odom"/>
  <param name="global_frame_id" value="/map"/>
  <param name="base_frame_id" value="/base_link"/>
  <param name="sensor_source" value="/scan"/><!-- for multiple sensors, place comma eg "r1/front_laser/scan,/beacon" -->
    
  
  <node pkg="mrpt_rbpf_slam" type="mrpt_rbpf_slam" name="mrpt_rbpf_slam" output="screen">
  </node>
  
</launch>

