<launch>

<node pkg="rviz" type="rviz" name="rviz_nav" output="screen" args="-d $(find mrpt_rbpf_slam)/rviz/rviz_conf.rviz">
    </node>

       <param name="rawlog_play_delay" value="10"/> 
    <include file="$(find mrpt_rawlog)/launch/demo_play_ro.launch" />
 <param name="ini_filename" value="$(find mrpt_rbpf_slam)/tutorial/RO-SLAM_demo.ini"/>
  <param name="odom_frame_id" value="odom"/> 
    <param name="global_frame_id" value="/map"/> 
    <param name="base_frame_id" value="base_link"/> 
    <param name="sensor_source" value="/beacon"/><!-- for multiple sensors, place comma eg "r1/front_laser/scan,/beacon" -->


 


  <node pkg="mrpt_rbpf_slam" type="mrpt_rbpf_slam" name="mrpt_rbpf_slam" output="screen">
  </node>

</launch>


