<?xml version="1.0"?>

<launch>
  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find mrpt_rbpf_slam)/config/rosconsole.config"/>

  <!--PLAY RAWLOG FILE-->
  <include file="$(find mrpt_rawlog)/launch/demo_play_ro.launch" />

  <!--SLAM RUN--> 
  <node pkg="rviz" type="rviz" name="rviz_nav" output="screen" args="-d $(find mrpt_rbpf_slam)/rviz/rviz_conf.rviz"></node>
  <node pkg="mrpt_rbpf_slam" type="mrpt_rbpf_slam" name="mrpt_rbpf_slam" output="screen">
    <param name="ini_filename" value="$(find mrpt_rbpf_slam)/tutorial/RO-SLAM_demo.ini"/>
    <param name="odom_frame_id" value="odom"/>
    <param name="global_frame_id" value="map"/>
    <param name="base_frame_id" value="base_link"/>
    <!-- for multiple sensors, place comma eg "r1/front_laser/scan,/beacon" -->
    <param name="sensor_source" value="/beacon"/>
    <rosparam command="load" file="$(find mrpt_rbpf_slam)/config/default.yaml" />
  </node>

</launch>
